<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat " january 02, 2006" .Date }}</time> &bull;
        {{ partial "tags.html" .}}
    </p>
      {{ end }}

      <span itemprop="articleBody">
      {{ .Content }}
      </span>


    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
