<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section>
        <ul class="posts">
            {{ if ne (len $.Site.Taxonomies.tags) 0 }}
                {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                  {{ $tagCount := len $taxonomy.Pages }}
                  <li>
                      <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a>
                      <hr>
                      <time>{{ $tagCount }}</time>
                  </li>
                {{ end }}
            {{ end }}
        </ul>


    </section>

    {{ partial "footer.html" . }}
  </main>
</body>
</html>
