<hr>
<footer>
	<nav>
	  {{ $current := . }}
  <ul>{{ range .Site.Menus.footer }}
	<li>
	  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
	  {{ $active = or $active (eq .Name $current.Title) }}
	  <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
	</li>
  {{ end }}
  </ul>
	</nav>
</footer>
