  <header>
    <nav>
      {{ $current := . }}
  <ul>{{ range .Site.Menus.main }}
    <li>
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Index") (eq $current.Title $current.Site.Title)) }}
      {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
      <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
    </nav>
  </header>
  <hr>
