<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section>
        <span itemprop="articleBody">
        {{ .Content }}
        </span>
    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
