<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section>


    <ul class="posts">
  {{ range .Data.Pages }}
    <li>
      <a href="{{.RelPermalink}}">{{ .Title }} </a><hr>
      <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
    </li>
  {{ end }}
</ul>



    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
