<ul class="posts">
  {{ range ( where .Site.RegularPages "Section" "posts" ).ByDate.Reverse }}
    {{ if ne .Kind "section" }}
    <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
      <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
      <hr>
     <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
    </li>
    {{ end }}
  {{ end }}
</ul>
